.actions
  %a.btn.btn-primary{href: "/posts/new"} Add New

.posts--listing
  - @posts.each do |post|
    .post
      %h3.post__title= post.title
      .post__brief
        = post.content[0...100]
        - if post.content.size > 100
          = '...'
      .post--actions
        %button.btn.btn-warning.btn-sm{type: "button"} Edit
        %button.btn.btn-danger.btn-sm{type: "button"} Delete
