%form{action: "/posts", method: "post"}
  .form-group
    %label{for: "posttitle"} Title
    %input#posttitle.form-control{type: "text", name: "title"}

  .form-group
    %label{for: "postbody"} Post body
    %textarea#postbody.form-control{rows: "3", name: "content"}

  %button.btn.btn-success{type: "submit"} Save
  %button.btn.btn-danger{type: "button"} Cancel
